/* Estilos de presentacion */

#fondoBienvenida{
    background-image: url(./IMAGENES/Central/imagenCentral.png);
    background-size: cover; /* la imagen cubre todo el contenido */
    background-repeat: no-repeat; /* no repite la imagen*/
}

#fondoAlfajores{
    background-image: url(./IMAGENES/Productos/Producto4_chico.png);
    background-size: cover; /* la imagen cubre todo el contenido */
    background-repeat: no-repeat; /* no repite la imagen*/
    max-height: 400px;
}
#contenedorBienvenida {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}

#contenedorAlfajores{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.cardGenerales{
    border: none;
    background-color: transparent;
    padding: 1rem;
    margin: none;
    color: #FFF;
    margin: 1rem;
}

.contenedorTextoBienvenida {
    padding: 1rem;
    margin: 1rem;
    width: 22rem;
}

.contenedorTexto {
    font-size: smaller;
    padding: 1rem;
    width: 22rem;
    margin:auto;
}

.contenedorTextoAlfajores {
    font-size: smaller;
    padding: 1rem;
    margin: 1rem;
    width: 22rem;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

#tituloProductos{
    background-color: grey;
    text-align: center;
    color: #FFF;
}

.imgProducto{
    height: 100%;
    width: auto;
}

.fondobeige {
    background-color: #bba373;
  }

  .transparente {
    background-color: transparent;
  }

  #cajaImgAlfajores{
    display: flex;
    justify-content: end;
    padding: 7vh;
}

#imgAlfajores{
    max-height: 30vh;
}

#calidad{
    background-color: #262525;
    color: white;

}

.marron{
    background-color: #bba373;
}

.detallePresentacion{
    color:    #6e4e27;
    font-weight: bold;
}

.detalleTitulo{
    color:    #6e4e27;
}

.detalleProducto{
    color: white;
    font-weight: bold;
}

.recetas{
    display: flex;
    justify-content:center;
    /* margin-left: 50px;
    margin-right: 50px; */
    background-color: #262525;
    padding-left: 50px; 
    padding-right: 50px; 

}

.tituloRecetas{
    color:white;
}
.sectionRecetas{
    background-color: #262525;
}

.cardReceta{
    width: 250px;
    background-color:  #bca475;
    margin:auto;
    border: 0;
    font-size:x-small;
    color:white;
    height:300px;
    
}

.card-title{
    color: #765630;
    text-align: center;
}

.botonRecetas{
    color: #765630;
    font-size: smaller;
    font-weight: bold;
    border-color: #765630;
    border: solid 3px;
    background-color: transparent;
}

form p {
    font-size: small;
    color:#765630
}
label {
    font-size: small;
    color:#765630
}

footer {
    background-color: #0f0f0f;
    margin-top:0;
    padding:5px;
}

.pie{
    color: #8c6c5c;
}

.redes{
    display:flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}
/* @media screen and (min-width: 577px) and (max-width: 767px){
    .contenedorTextoProductoDesk{
        visibility: hidden;
        
    }
    .contenedorTextoProductoMobile{
        padding: 1rem;
        margin: 1rem;
        width: 22rem;
    }
}

@media screen and (min-width: 768px){
    
    .contenedorTextoProductoMobile{
        visibility: hidden;
        
    }
    .contenedorTextoProductoDesk{
        padding: 1rem;
        margin: 1rem;
        width: 22rem;
    }
    
  } */